body {
  font-size: 16px;
  font-family: 'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.7;
  margin: 0 0;
  padding: 0 0;
  color: #000;
  font-weight: 300;
}
header {
  text-align: center;
  background: url('../img/sunset.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  padding: 100px 0;
  height: 80%;
  color: #fff;
}
.shortHeader h1 {
  margin-top: 20px!important;
}
.shortHeader {
  height: auto;
  padding: 50px 0;
}
h1, h2 {
  font-weight: 300;
  max-width: 850px;
}
h1 {
  margin-top: 100px;
  font-size: 60px
}
h2 {
  font-size: 24px
}
h3 {
  width: 100%;
  border-bottom: 1px solid #eee;
  padding-bottom: 3px;
  margin-bottom: 15px;
  margin-top: 70px;
}
p,li {
  font-size: 22px
}
div.show-and-tell {
  margin-top: -75px;
  margin-bottom: 65px;
}
div.show-and-tell video {
  width: 824px;
  height: 528px;
}
div.narrower {
  max-width: 850px;
}
hr {
  margin: 50px 0;
}
.home-icons-row {
  margin: 60px 0 30px;
  font-weight: normal;
}
.home-icons-row div img {
  margin-bottom: 10px;
}
.home-icons-row div a {
  color: #354c6d;
}
.home-icons-row div {
  padding: 0 30px;
  line-height: normal;
}
pre {
  margin: 30px auto 50px;
}
pre, code{
  background-color: #f0f0f0;
  border-color: #f0f0f0!important;
  border-radius: 0;
  padding: 0 0;
  font-size: 12px;
}
code strong {
  color: #8a0000;
  font-weight: normal;
}
code .html {
  color: #777;
}
code .comment {
  color: #aaa!important;
}
.footer {
  margin-bottom: 30px;
}
.footer p {
  font-size: 11px;
  margin: 0 0;
}
#phone-demo {
  position: fixed;
  bottom: 20px;
  right: 10%;
  width: 18%;
}
#phone-demo img {
  max-width: 100%;
}
#phone-demo .phone-contents {
  position: absolute;
  z-index: -1;
  top: 14.5%;
  left: 0;
  padding: 0 8.9%;
}
@media (max-height: 650px) {
  header {
    padding: 20px auto;
  }
  h1 {
    margin-top: 10px;
    font-size: 50px
  }
}
